<!DOCTYPE html>

<html>
  <head>
    <style></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
  </head>
  <body>
    <h1>Line Chart</h1>
	<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <script type="application/javascript">
        new Chart("myChart", {
        type: "line",
        data: {
          labels: {{xValues}},
          datasets: [{
            label: 'Dataset',
            borderColor: 'rgb(75, 192, 192)',
            fill: false,
            data: {{yValues}}
          }]
        }      
	});
    </script>
  </body>
</html>
